################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/QueueReceiver/.vs
/ServiceBusSender/.vs
/ServiceBusSender/ServiceBusSender/bin/Debug/net6.0
/ServiceBusSender/ServiceBusSender/obj
/QueueReceiver/QueueReceiver/bin/Debug/net6.0
/QueueReceiver/QueueReceiver/obj
